li{
    list-style: none;
    color: white;
    display: flex;
    background-color: rgb(119, 119, 119);
    border-radius: 1em;
    width: 50vw;
    margin-top: 1em;
    margin-bottom: 1em;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
}

ul{
    display: flex;
    flex-direction: column;
    align-items: center;
}

body{
    height: 90vh;
}

.completado{
    background-color: rgb(43, 214, 0);
    color: black;
}